<style>

#nav
{
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: RGB(44, 50, 60);
}

#nav
{
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: RGB(44, 50, 60);
}

h1
{
    line-height: 1.5em;
    font-family: "Trebuchet MS", Cursive, sans-serif;
    padding: 0.176em 0.476em;
    border-bottom: 2px solid RGB(82, 139, 255);
}

h2
{
    line-height: 1.5em;
    font-family: "Trebuchet MS", Cursive, sans-serif;
    padding: 0.176em 0.476em;
    border-bottom: 2px solid RGB(82, 139, 255);
}

#nav li
{
	float: left;
}

#nav li a
{
	display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: white;
}

#nav li a:hover
{
    background-color: RGB(82, 139, 255);
}

body
{
    background-color: RGB(33, 37, 43);
    font: small/1.3 "Trebuchet MS", Cursive, sans-seri;
}

#mainarea
{
	width: 99.75%;
    margin: 0 auto;
    background-color: RGB(40, 44, 52);
    font-family: "Trebuchet MS", Cursive, sans-serif;
}

#page_header
{
    font-size: 1.5em;
    padding: 0.5em 10px;
    color: white;
    background-color: RGB(40, 44, 52);
    margin: 0;
    font-family: "Trebuchet MS", Cursive, sans-serif;
}

#content
{
    color: white;
	padding: 0px 50px 50px;
	font-family: "Trebuchet MS", Cursive, sans-serif;
}

a:link
{
    color: RGB(82, 139, 255);
    text-decoration: none;
}

a:visited
{
    color: RGB(82, 139, 255);
    text-decoration: none;
}

#codearea
{
    background-color: RGB(33, 37, 43);
    font-family: 'Source Code Pro', Consolas, monospace;
    white-space: pre-wrap;
    border-left: 3px solid #FD8724;
    font-size: 12px;
    padding: 10px;
    margin: 12px 0;
}

li
{
    padding-left: 16px;
    list-style: none;6px;
}

#codekeyword
{
    color: RGB(255, 98, 0);
}

#codehighlight
{
    color: RGB(0, 98, 255);
}

li
{
    padding-left: 16px;
    list-style: none;
}

::selection {
  background: RGB(0, 98, 255);
}
::-moz-selection {
  background: RGB(0, 98, 255);
}

</style>